<<<<<<< HEAD
/**
 * "Pro" theme section examples for the customizer by Justin Tadlock Copyright 2016
 * Licensed under the GNU GPL, version 2 or later.
 * Source: https://github.com/justintadlock/trt-customizer-pro
 */

#customize-controls .control-section-motospeed .accordion-section-title:hover,
#customize-controls .control-section-motospeed .accordion-section-title:focus {
	background-color: #fff;
}

.control-section-motospeed .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
}

.rtl .control-section-motospeed .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}
=======
/**
 * "Pro" theme section examples for the customizer by Justin Tadlock Copyright 2016
 * Licensed under the GNU GPL, version 2 or later.
 * Source: https://github.com/justintadlock/trt-customizer-pro
 */

#customize-controls .control-section-motospeed .accordion-section-title:hover,
#customize-controls .control-section-motospeed .accordion-section-title:focus {
	background-color: #fff;
}

.control-section-motospeed .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
}

.rtl .control-section-motospeed .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}
>>>>>>> b9cb38dd5380a6a37d92ca254d63d8e74592569c
