<<<<<<< HEAD
/*!
Theme Name: MotoSpeed
Description: MotoSpeed is fully Responsive Moto WordPress Theme. Features: Animation Appearing Effects, Custom Logo, Custom Background, Footer copyright text customizations, Widget Areas: Sidebar, 3 Footer Columns, Footer Menu, Translation-Ready and much more.
Author: customizablethemes
Author URI: https://customizablethemes.com
Theme URI: https://customizablethemes.com/product/motospeed/
Version: 1.0.9
Text Domain: motospeed
Tags: blog, entertainment, two-columns, right-sidebar, custom-logo, custom-background, custom-header, custom-menu, threaded-comments, translation-ready, sticky-post, theme-options, footer-widgets
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/* general styles */
body {
	font-family:"Overlock",Arial,Helvetica,sans-serif;
	font-size:13px;
	margin:0;
	padding:0;
	background-color:#ffffff;
	color:#000000; 
	width:100%;
}

input, select, textarea, button, #main .button {
	font-family:inherit;
}

button {
	cursor:pointer;
}

body:before {
	content: none !important;
}

a {
	text-decoration:none;
	outline:none;
	color:#ff6600;
}

a:hover {
	color:#d0c5b6;
}

a img{
	outline:none;
}

p {
	padding:3px 0 3px 0;
	margin:0;
}

img {
	border:0;
	outline:0;
}

#main-content-wrapper img,
#footer-main img {
	max-width:100%;
	height:auto;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

#main-content-wrapper a:hover img,
#footer-main a:hover img {
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.7);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.7);
	opacity:0.7;
}

h1, h2, h3, h4, h5, h6{
	font-weight:400;
	margin:0;
	color:#ff6600; 
}
	
h1 {
	font-size:30px;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

h2 {
	font-size:22px;
	padding:5px 0 0 0;
}

h3 {
	font-size:20px;
	padding:8px 0 5px 0;
}

h4 {
	font-size:18px;
	padding:2px 0 1px 0;
}

h5 {
	font-size:16px;
	padding:2px 0 1px 0;
}

h6 {
	font-size:14px;
	padding:2px 0 1px 0;
}

table {
    border-collapse: collapse;
}

td, th {
	padding:10px;
}

#wp-calendar,
#wp-calendar th,
#wp-calendar td {
	border:none;
}

#wp-calendar td,
#wp-calendar th {
	padding:0;
}

embed,
object,
video {
	margin-bottom: 24px;
	max-width: 100%;
}

video {
    width: 100% !important;
    height: auto !important;
}

p > embed,
p > iframe,
p > object,
span > embed,
span > iframe,
span > object {
	margin-bottom: 0;
}

#sidebar select{
	max-width:95%;
}

dt.gallery-icon:before {
	content:'';
}

.custom-logo-link img {
	margin-right:10px;
	height:auto;
    max-width:150px;
}



#header-logo {
    display: flex;
    align-items: center;
}

#header-logo strong {
    font-size: 16px;
    font-weight: normal;
}

#sidebar select{
	max-width:95%;
}

dt.gallery-icon:before {
	content:'';
}

#header-logo h1 {
	padding:0;
	margin:0;
	line-height:1;
	font-size:38px;
}

#navmain li {
	padding:0;
}

ul > li {
	padding:3px 0;
	margin:0;
	list-style-type:none;
}

ol > li {
	padding:3px 0;
	margin:0;
}

ol {
	padding:0 0 0 30px;
	margin:0;
}

ul {
	padding:0 0 0 15px;
	margin:0;
}


.widget > ul,
.col > ul,
#sidebar > ul {
	padding-left:0;
}

/* header */
#header-main-fixed {
	min-height:40px;
	clear:both;
	margin:0;
	width:100%;
	z-index:5000;
	color:#000000;
	text-align:center;
}

#header-main-fixed a h1,
#header-main-fixed a {
	color:#111111; 
}

#header-main-fixed a:hover {
	color:#ff6600; 
}

#header-spacer {
	width:100%;
}

#header-content-wrapper {
	padding:0 2% 0 2%;
}

.search-form-icon:before {
	font-family:'FontAwesome';
	content:"\f002";
	margin:0 2px 0 0;
}

.search-form-icon {
	float:right;
}

#navmain {
	margin:0;
}


	float:left;
    height:26px;
    line-height:26px;
    text-align:center;
    width:26px;
	border-width:1px;
	border-style:solid;
	-webkit-border-radius:55px;
	-moz-border-radius:55px;
	-ms-border-radius:55px;
	-o-border-radius:55px;
	border-radius:55px;
	margin-right:10px;
}

#search-popup-content {
	display:none;
	position:fixed;
	top:18px;
	z-index:5000;
	background-color:#ffffff;
	padding:10px !important;
	border:1px solid #f5f5f5;
}

#hdrtop-searchform-subcontent {
	line-height:27px;
}

#hdrtop-searchform-subcontent button {
	padding-top:4px;
	padding-bottom:4px;
}

#hdrtop-cart-subcontent li {
	clear:both;
}

#navmain {
	margin:0 2%;
	text-align:center;
	background-color:#dddddd;
	position:relative;
	z-index:5000;
}

#navmain a:hover {
	text-decoration:none;
}

.page-title {
	padding:5px 0 10px 10px !important;
}

article,
aside {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

/* main content */
article,
.content {
	overflow:hidden;
	padding:10px 0 0 0;
}

#main-content-full {
	overflow:hidden;
	margin:0 0 20px 2%;
	width:96%;
}

/* sidebar */
#sidebar {
	overflow:hidden;
	padding:10px 0 0 0;
}

#sidebar ul:not(.social-widget):not(.ui-tabs-nav) > li:before,
article ul > li:before {
	content:"\f105";
	font-family:'FontAwesome';
	display:inline-block;
	margin:0 5px 10px 1px;
	opacity:0.7;
}

#sidebar > ul {
	margin-left:3px;
}

#sidebar .widget {
	margin-bottom:5px;
    clear: both;
}

.widget_categories,
.widget_archive {
    clear: both;
    position: relative;
}

.widget_categories ul,
.widget_archive ul {
	padding:0 10px;
}

.widget_categories h3,
.widget_archive h3 {
	display: block;
    text-decoration: none;
	font-size:1.125em;
	float:none;
	padding-left:10px;
}

.single-social-widget {	
	padding:1px 0 0 0;
	margin:1px 0 0 0;
	clear:both;
}

.single-social-widget p {
	margin-left:5px;
}

#infoTxt {
	padding:10px 0 10px 0;
}

article ul > li:before {
	font-family:'FontAwesome';
	content:"\f105";
	display:inline-block;
	text-align:center;
	margin:0 7px 7px 0;
}

.separator {
	height:1px;
	margin:20px 1% 10px 0;
}

#footer-menu {
    text-align:center;
    margin:15px 0;
}

#footer-menu ul,
#footer-menu li {
    display:inline;
    padding:0;
    margin:0;
}

#footer-menu li {
    margin-right:20px;
}

#footer-main {
	clear:both;
	background-color:#555555; 
	color:#fcfdf8; 
	margin:20px 0 0 0;
	padding:10px 2% 5px 2%;
	border-top:1px solid #b7b7b7;
}

#footer-main a {
	color:#c1b5b1; 
}

#footer-main a:hover {
	color:#ff6600; 
}


#footer-main input[type="text"] {
	width:130px;
	background-color:#fff;
}

.col ul:not(.social-widget):not(.ui-tabs-nav) > li:before {
	font-family:'FontAwesome';
	font-style:normal;
	font-weight:normal;
	line-height:1;
	margin-right:5px;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	content:"\f105";
	opacity:0.7;
}
.col > ul {
	margin-left:3px;
}

.col li {
	margin-bottom:5px;
}

.col1a {
	float:none;
	width:96%;
	margin:5px 0 5px 0;
}
#copyright {
	clear:both;
	text-align:center;
}

input[type="text"],
input[type="email"],
input[type="url"],
textarea {
	border:1px solid #B2AEA3;
	padding:4px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
}

.button,
input[type="submit"],
button {
	font-size:0.875em;
}

.button,
input[type="submit"],
button,
.btn,
#main .button {
	padding:8px 12px;
	text-decoration:none;
	font-weight:normal;
	border:none;
	color:#ffffff;
	background-image: -ms-linear-gradient(top, #d0c5b6 0%, #ff6600 100%);
	background-image: -moz-linear-gradient(top, #d0c5b6 0%, #ff6600 100%);
	background-image: -o-linear-gradient(top, #d0c5b6 0%, #ff6600 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d0c5b6), color-stop(1, #ff6600));
	background-image: -webkit-linear-gradient(top, #d0c5b6 0%, #ff6600 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d0c5b6', endColorstr='#ff6600');
	background-image: linear-gradient(top, #d0c5b6 0%, #ff6600 100%);
	text-shadow:0 !important;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
}

.button:hover,
input[type="submit"]:hover,
button:hover,
#main .button:hover,
.btn:hover {
	color:#ffffff;
	background-image: -ms-linear-gradient(top, #ff6600 0%, #d0c5b6 100%);
	background-image: -moz-linear-gradient(top, #ff6600 0%, #d0c5b6 100%);
	background-image: -o-linear-gradient(top, #ff6600 0%, #d0c5b6 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff6600), color-stop(1, #d0c5b6));
	background-image: -webkit-linear-gradient(top, #ff6600 0%, #d0c5b6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ff6600', endColorstr='#d0c5b6');
	background-image: linear-gradient(top, #ff6600 0%, #d0c5b6 100%);
	text-decoration:none;
}

.btn {
	margin-top:10px;
	display:inline-block;
}

#respond {
	clear:both;
}

#commentform input:before,
#commentform textarea:before {
	content:'\A';
	white-space:pre;
}

blockquote:before,
q:before {
	font-family:'FontAwesome';
	content: "\f10d";
	color:#DEDEDE;
	font-size:36px;
	float:left;
	margin:0 1% 0 0;
}

blockquote, figure {
	margin:0 1%;
}

.page-links, .post-links {
	padding:10px 0 3px 0;
	margin:0;
}

.navigation,
.woocommerce-pagination {
    margin:0;
	clear:both;
}

.navigation .current,
.navigation .page-dots,
.navigation .page-numbers {
	font-size:16px;
	text-align:center;
	display:inline-block;
	float:left;
}

.navigation .page-dots,
.navigation .page-numbers {
	padding:5px 11px;
	border:1px solid #dddddd;
	margin-right:10px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
}

.navigation .current,
.navigation .current:hover {
	text-decoration:none;
	background:#dddddd !important;
	text-align:center;
	margin-right:10px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
}

.navigation .page-numbers:hover {
	text-decoration:none;
	background:#fafafa;
	text-align:center;
}

.nav-links {
	padding-top:10px;
}

.nav-links .nav-previous {
	float:left;
	width:45%;
}

.nav-links .nav-previous:before {
	font-family:'FontAwesome';
	content:"\f100";
	margin-right:5px;
}

.nav-links .nav-next {
	float:right;
	width:45%;
}

.nav-links .nav-next:after {
	font-family:'FontAwesome';
	content:"\f101";
	margin-left:5px;
}

#header-main-fixed:first-of-type {
    position: relative;
    display: inline-block;
}

pre {
	background: #eee;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
}

/* search form */
.search-wrapper {
	border:1px solid #B2AEA3;
	background-color:#ffffff;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	padding-left:0 !important;
	display:inline-block;
}

.search-wrapper .search-textbox {
	border:none;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
}

.search-wrapper  .search-button {
	color:#777777;
	background-color:#ffffff;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	box-shadow: none;
	filter:none;
	background-image: none;
}

.search-wrapper  .search-button:before {
	font-family:'FontAwesome';
	content:"\f002";
}

/* comments */
#comments {
	margin-top:25px;
	font-size:18px;
	float:left;
	clear:both;
	padding:0 5px 1px 1px;
}

.commentlist {
	list-style:none;
	margin:0;
	padding:0;
	clear:both;
}

.commentlist li {
	list-style:none;
}

.commentlist li .pingback .comment-author {
	padding:0 170px 0 0;
}

.commentlist li div .vcard {
	font-weight:bold;
	font-size:14px;
	line-height:16px;
}

.commentlist li div .vcard cite .fn {
	font-style:normal;
	font-size: 11px;
}

.commentlist li div .vcard cite .fn a .url {
	color:#cc0000;
	text-decoration:none;
}

.commentlist li div .vcard cite .fn a .url:hover {
	color:#000;
}

.commentlist li div .vcard img .avatar {
	background:#fff;
	border:1px solid #aaa;
}

.commentlist li div .comment-meta a {
	color:#205B87;
	text-decoration:none;
}

.commentlist li p {
	font-weight:normal;
	line-height:1.2;
	margin:5px 0 12px;
}

.commentlist li ul {
	font-weight:normal;
	font-size:12px;
	line-height:16px;
	list-style:square;
	margin:0 0 12px;
	padding:0;
}

.commentlist li div .reply {
	background:#999;
	border:1px solid #666;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	color:#fff;
	font:bold 9px/1 helvetica,arial,sans-serif;
	padding:6px 5px 4px;
	text-align:center;
	width:36px;
}

.commentlist li div .reply:hover {
	background:#cc0000;
	border:1px solid #cc0000;
}

.commentlist li div .reply a {
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
}

.commentlist li ul.children {
	list-style:none;
	margin:12px 0 0;
	text-indent:0;
}

.commentlist li ul .children li .depth-2 {
	margin:0 0 3px;
}

.commentlist li ul .children li .depth-3 {
	margin:0 0 3px;
}

.commentlist li ul .children li .depth-4 {
	margin:0 0 3px;
}

.commentlist li ul .children li .depth-5 {
	margin:0 0 7px;
}

.commentlist ul .children li .odd {
	background:#fff;
}

.commentlist .odd {
	background:#f6f6f6;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}

.commentlist li .pingback div .vcard {
	padding:0 170px 0 0;
}

.comment-body {
	padding-left:0;
}

#reply-title {
	margin-top:25px;
	text-align:center;
	font-size:18px;
	float:left;
	clear:both;
	padding:0 5px 0 1px;
}

#commentform {
	clear:both;
	padding-top:5px;
	padding-left:2px;
}

.entry-title {
	clear:both;	
}

.before-content,
.after-content,
.custom-after-content,
.page-after-content {
	padding-top:5px;
	padding-bottom:5px;
	clear:both;
}

.after-content,
.custom-after-content,
.page-after-content {
	border-top:2px solid #555555;
	margin-top:5px;
}

.aside-icon:before,
.audio-icon:before,
.author-icon:before,
.category-icon:before,
.clock-icon:before,
.comments-icon:before,
.edit-icon:before,
.gallery-icon:before,
.image-icon:before,
.link-icon:before,
.quote-icon:before,
.tags-icon:before,
.video-icon:before,
.quote-content:before,
.quote-content:after {
	font-family:'FontAwesome';
	margin:0;
	border: 1px solid;
    border-radius: 50%;
    display: inline-block;
    font-size: 11px;
    height: 20px;
    line-height: 21px;
    text-align: center;
    width: 20px;
}

.sticky h1:before {
	font-family:'FontAwesome';
	margin:0;
}

.sticky h1 {
	margin-right:7px;
}

.aside-icon:before {
	content: "\f0f6";
}

.audio-icon:before {
	content: "\f001";
}

.author-icon:before {
	content:"\f007";
}

.category-icon:before {
	content:"\f115";
}

.clock-icon:before {
	content:"\f017";
}

.comments-icon:before {
	content: "\f0e5";
}

.edit-icon:before {
	content:"\f040";
	margin-right:2px;
}

.gallery-icon:before {
	content:"\f03e";
}

.image-icon:before {
	content: "\f03e";
}

.link-icon:before {
	content: "\f0c1";
}

.quote-icon:before {
	content: "\f10d";
}

.tags-icon:before {
	content: "\f02c";
}

.video-icon:before {
	content: "\f008";
}

/* thumbnails */
img.wp-post-image {
	margin:0 5px 5px 0;
}

/* calendar widget */
.widget_calendar {
	float:left;
}

#wp-calendar caption {
	color:#333;
	font-size:12px;
	padding:5px;
}

#wp-calendar thead,
#wp-calendar tfoot {
	font-size:10px;
}

#wp-calendar th {
	border-bottom:3px solid #ccc;
}

#wp-calendar tbody {
	color:#aaaaaa;
}

#wp-calendar tbody td {
	text-align:center;
}

#wp-calendar tbody #today {
	background: #c5c5c5;
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	-ms-border-radius:50px;
	-o-border-radius:50px;
	border-radius:50px;
}

#wp-calendar tbody .pad {
	background:none;
}

#wp-calendar tfoot #next {
	font-size:10px;
	text-transform:uppercase;
	text-align:right;
}

#wp-calendar tfoot #prev {
	font-size:10px;
	text-transform:uppercase;
	padding-top:10px;
}

#wp-calendar tbody td {
	padding:8px;
}

.quote-content:before {
	content: "\f10d";
}

.quote-content:after {
	content: "\f10e";
}

.scrollup:before {
	content:"\f106";
	display:inline-block;
	vertical-align:middle;
	font:30px 'FontAwesome';
	color: rgba(255,255,255,.6) !important;
}

.scrollup {
	width: 40px;
	height: 40px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	-webkit-border-top-left-radius:2px;
	-moz-border-top-left-radius:2px;
	-ms-border-top-left-radius:2px;
	-o-border-top-left-radius:2px;
	border-top-left-radius:2px;
	-webkit-border-top-right-radius:2px;
	-moz-border-top-right-radius:2px;
	-ms-border-top-right-radius:2px;
	-o-border-top-right-radius:2px;
	border-top-right-radius:2px;
	position: fixed;
	bottom: 0;
	right:2%;
	display:none;
	color:#CBC8B5;
	background-color:#555555 !important;
	z-index:5001;
	line-height:34px;
	text-align:center;
	text-shadow: 0 0 1px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.3);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,.25);
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,.25);
	box-shadow: 0 1px 2px rgba(0,0,0,.25);
}

.scrollup:hover {
	background-color:#4A4C4D !important;
	color:#858282 !important;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

.tagcloud {
    margin-bottom: 20px;
}

.wp-caption {
	max-width:95%;
    padding:4px 4px 4px 4px;
    border:1px solid #ccc;
    color:#555;
    background:#f9f9f9;
    -moz-box-shadow:1px 1px 5px rgba(153, 153, 153, 0.3);
    -webkit-box-shadow:1px 1px 5px rgba(153, 153, 153, 0.3);
    box-shadow:1px 1px 5px rgba(153, 153, 153, 0.3);
    -moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
    clear:both;
}

.wp-caption p.wp-caption-text { 
	background-color:#858581;
	color:#fff;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	padding:2px 4px 2px 4px;
}

.sticky {
}

.sticky h1:before {
	content:"\f0c6";
}

.gallery-caption {
}

.bypostauthor {
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}


.post-date {
	display:block;
	margin:-5px 0 10px 13px;
}

blockquote {
	margin-bottom:10px;
}

.sidebar-title {
	padding:0 5px 1px 1px;
	margin-bottom:-2px;
	font-weight:normal;
	font-size:18px;
	letter-spacing:0.5px;
	float:left;
	clear:both;
}

.sidebar-title:not(:first-child) {
	margin-top:15px;
	margin-bottom:-2px;
}

.sidebar-before-title {
	clear:both;
}

.sidebar-after-title {
	clear:both;
	height:1px;
	margin-bottom:5px;
	width:100%;
}

.footer-title {
	font-size:22px;
	color:#eeeeee;
	letter-spacing:1px;
}

.footer-after-title {
	clear:both;
}

.page-entry-title {
	padding-left:0 !important;
}

/* custom page templates classes */
.custom-entry-title {
	padding-left:0 !important;
}

#searchform input[type="text"] {
	padding: 1px 0 1px 3px;
	background-color: #FFFFFF;
    border: 1px solid #B2AEA3;
    -webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px;
	padding:8px 5px;
}

#searchform input[type="submit"] {
    -webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px;
}

.gallery-item .gallery-icon > a:before,
dt.gallery-icon > a:before,
dt.gallery-icon > a:before,
.gallery-item .gallery-icon:before {
	content:'' !important;
}

.gallery {
	margin: 0 -1.1666667% 1.75em;
	clear:both;
}

.gallery-item {
	display: inline-block;
	max-width: 33.33%;
	padding: 0 1.1400652% 2.2801304%;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-1 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 25%;
}

.gallery-columns-4 .gallery-item {
	max-width: 20%;
}

.gallery-columns-5 .gallery-item {
	max-width: 15%;
}

.gallery-columns-6 .gallery-item {
	max-width: 13%;
}

.gallery-columns-7 .gallery-item {
	max-width: 11%;
}

.gallery-columns-8 .gallery-item {
	max-width: 10%;
}

.gallery-columns-9 .gallery-item {
	max-width: 9%;
}

.gallery-icon img {
	margin: 0 auto;
}

.gallery-caption {
	color: #686868;
	display: block;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

.gallery-item .gallery-icon > a:before,
dt.gallery-icon > a:before,
dt.gallery-icon > a:before,
.gallery-item .gallery-icon:before {
	content:'';
	border:none;
	height:0;
}

#home-cols {
	clear:both;
	padding:20px 2%;
}

.post-links .left,
.post-links .right {
    width: 40%;
}

.fb_iframe_widget span {
	display: block !important;
}

#pin-save-button span {
	margin-top: -19px !important;
	position: absolute;
}

/* Large Resolution */
@media screen and (min-width: 800px) {
	
	#main-content,
	#main {
		float:left;
		margin:0 0 20px 2%;
		width:75%;
	}
	
	#header-main-fixed {
		padding-bottom:20px;
	}

	#sidebar {
		float:left;
		margin:10px 2% 30px 2%;
		width:20%;
		padding:0;
	}
	
	.header-social-widget li {
		margin-left:3px;
	}
	
	#header-logo {
		display:inline-block;
		margin-top:15px;
	}

	#navmain div {
		padding:0 0 0 20px;
	}
	
	#navmain ul {
		padding:0;
		margin:0;
	}
	
	#navmain > div > ul > li {
		display:inline-block;
	}
	
	#navmain ul ul  li {
		position:relative;
		float:left;
	}
	
	#navmain > div > ul > li {
		padding: 0 10px;
	}
	
	#navmain ul a {
		padding:20px 15px;
		font-size:16px;
		white-space:nowrap;
		display:inline-block;
	}

	#navmain ul ul li:hover > a {
		background-color:#AAAAAA;
		color:#ff6600;
	}
	
	#navmain ul ul ul,
	#navmain ul ul  ul li:first-of-type,
	#navmain ul ul ul li:first-of-type > a {
		-webkit-border-top-left-radius:3px;
		-moz-border-top-left-radius:3px;
		border-top-left-radius:3px;
		-webkit-border-top-right-radius:3px;
		-moz-border-top-right-radius:3px;
		border-top-right-radius:3px;
	}
	
	#navmain ul ul,
	#navmain ul ul li:last-of-type,
	#navmain ul ul li:last-of-type > a {
		-webkit-border-bottom-left-radius:3px;
		-moz-border-bottom-left-radius:3px;
		border-bottom-left-radius:3px;
		-webkit-border-bottom-right-radius:3px;
		-moz-border-bottom-right-radius:3px;
		border-bottom-right-radius:3px;
	}

	#navmain ul ul {
		list-style:none;
		margin:0;
		padding:0;
		position:absolute;
		z-index:5000;
		color:#ff6600 !important;
		background-color:#CCCCCC;
		text-align: left;
		opacity:0;
		display:none;
	}
	
	#navmain ul li:hover > ul {
	   display:block;
	   opacity:1;
	   animation: opacity 700ms ease-in-out normal;
	   -moz-animation: opacity 700ms ease-in-out normal;
	   -ms-animation: opacity 700ms ease-in-out normal;
	   -o-animation: opacity 700ms ease-in-out normal;
	   -webkit-animation: opacity 700ms ease-in-out normal;    
	}

	@keyframes opacity { 
	    from { opacity:0; } 
	    to { opacity: 1; } 
	}
	@-moz-keyframes opacity { 
	    from { opacity: 0; } 
	    to { opacity: 1; } 
	}
	@-ms-keyframes opacity { 
	    from {opacity:0; } 
	    to { opacity: 1; } 
	}
	@-o-keyframes opacity { 
	    from {opacity:0; } 
	    to { opacity: 1; } 
	}
	@-webkit-keyframes opacity { 
	    from { opacity:0; } 
	    to { opacity: 1; } 
	}
	
	#navmain > div > ul > li > ul {
		margin:0 0 0 -14px;
	}

	#navmain ul ul:not(.cart_list) {
        opacity:0;
    }

	#navmain ul li:hover > ul {
       display:block;
       opacity:1;
       animation: opacity 700ms ease-in-out normal;
       -moz-animation: opacity 700ms ease-in-out normal;
       -ms-animation: opacity 700ms ease-in-out normal;
       -o-animation: opacity 700ms ease-in-out normal;
       -webkit-animation: opacity 700ms ease-in-out normal;    
    }

    @keyframes opacity {
        from { opacity:0; }
        to { opacity: 1; }
    }
    @-moz-keyframes opacity {
        from { opacity: 0; }
        to { opacity: 1; }
    }
    @-ms-keyframes opacity {
        from {opacity:0; }
        to { opacity: 1; }
    }
    @-o-keyframes opacity {
        from {opacity:0; }
        to { opacity: 1; }
    }
    @-webkit-keyframes opacity {
        from { opacity:0; }
        to { opacity: 1; }
    }

	#navmain ul li ul a {
		display:block;
	}
	
	#navmain ul ul ul {
		top:-1px;
		left:100%;
	}
	
	#navmain ul ul li {
		float:none;
	}
	
	#navmain ul ul a {
		padding:9px 35px 9px 10px;
		-webkit-box-shadow: inset 0 -2px 2px -2px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: inset 0 -2px 2px -2px rgba(0, 0, 0, 0.25);
		box-shadow: 0 -2px 2px -2px rgba(0, 0, 0, 0.15) inset;
	}

	#navmain > div > ul > li > a {
		color:#555555;
	}

	#navmain > div > ul > .current-menu-item > a, #navmain > div > ul > .current-menu-ancestor > a,
	#navmain > div > ul > li > a:hover {
		color:#ff6600; 
	}

	.level-one-sub-menu > a:after {
		content: "\f107";
		font-family:'FontAwesome';
		margin:0 0 0 5px;
	}
	
	.level-two-sub-menu > a:before {
		content: "\f105";
		font-family:'FontAwesome';
		position:absolute;
		right:10px;
		top:9px;
	}

	body.blog article,
	body.archive article {
		width:48.5%;
		float:left;
	}

	body.forum-archive article {
		width:90%;
		float:none;
	}
	
	body.blog article:nth-child(odd),
	body.archive article:nth-child(odd) {
	  clear: both;
	  margin-right:2%;
	}
	
	/* columns */
	.col2a,
	.col2b {
		float:left;
		width:47%;
	}
	
	.col2a {
		margin:0 4% 5px 0;
	}
	
	.col2b {
		margin:0 0 5px 0;
	}
	
	.col3a,
	.col3b,
	.col3c {
		float:left;
		width:30.6%;
	}
	
	.col3a,
	.col3b {
		margin:0 3.5% 5px 0;
	}
	
	.col3c {
		margin:0 0 5px 0;
	}
	
	.col4a,
	.col4b,
	.col4c,
	.col4d {
		width:22%;
		float:left;
	}
	
	.col4a,
	.col4b,
	.col4c {
		margin:0 3.5% 5px 0;
	}

	.col4d {
		margin:0 0 5px 0;
	}

	/* comments */
	.commentlist li div .vcard img .avatar {
		padding:5px;
		left:7px;
		position:absolute;
		top:7px;
	}
	
	.commentlist li {
		margin:0 0 10px;
		padding:5px 10px;
		position:relative;
	}
	
	.commentlist li div.comment-meta {
		font-weight:bold;
		font-size:10px;
		line-height:16px;
		position:absolute;
		right:10px;
		text-align:right;
		top:5px;
	}
	
	#commentform input[type="text"],
	#commentform input[type="email"] {
		width:145px;
		padding-top:7px;
		padding-bottom:7px;
	}
	
	#commentform input[type="url"] {
		width:100%;
		padding-top:7px;
		padding-bottom:7px;
	}
	
	#commentform textarea {
		width:470px;
		display:block;
		padding-top:7px;
		padding-bottom:7px;
		height:150px;
	}

	.comment-form-author,
	.comment-form-email,
	.comment-form-url  {
		width:150px;
		float:left;
	}

	.comment-form-cookies-consent {
		clear:both;
	}

	.form-submit {
		clear:both;
	}
	
	.comment-form-author,
	.comment-form-email	{
		margin-right:10px;
	}
	
	.comment-form-comment {
		clear:both;
		width:100%;
	}
	
	#comment {
		width:100%;
	}

	/* columns */
	.col3a,
	.col3b,
	.col3c {
		float:left;
		width:30.6%;
	}
	
	.col3a,
	.col3b {
		margin:0 3.5% 5px 0;
	}
	
	.col3c {
		margin:0 0 5px 0;
	}
}

/* Medium Resolution */
@media screen and (max-width: 799px) {

	h1 {
		font-size:24px;
	}
	
	.header-social-widget a {
		padding-bottom:4px;
	}

	#hdrtop-searchform-subcontent {
		font-size:18px;
		letter-spacing:inherit;
	}

	#header-main-fixed {
		padding-bottom:0;
		top:0;
	}

	#main-content,
	#main {
		float:none;
		clear:both;
		margin:0 2% 10px 2%;
		width:95%;
	}

	#sidebar {
		float:none;
		clear:both;
		margin:0 2% 10px 2%;
		width:95%;
	}
	
	#header-top {
		text-align:center;
	}
	
	#header-logo {
		margin-left:5px;
	}
	
	.header-social-widget a:before {
		margin-bottom:5px;
	}
	
	#header-title {
		float:left;
		margin:0 0 0 10%;
	}

	#header-title div {
		float:left;
	}
	
	#header-title a {
		font-size:24px;
		text-shadow:2px 1px 1px #999;
	}

	#header-title img {
		float:left;
		margin:0;
	}

	#header-title strong {
		color:#444;
		font-weight:normal;
		display:block;
	}
	
	#navmain {
		cursor:pointer;
		margin-top:0;
	}
	
	#navmain div:first-of-type:before {
		font:36px 'FontAwesome';
		content:"\f0c9";
		margin:0 0 0 5%;
		color:#ff6600;
		text-shadow:1px 1px 2px rgba(0,0,0,0.25);
	}

	#navmain div {
		clear:both;
		text-align:left;
	}

#navmain ul {
		padding:0;
	}
				
	#navmain div > ul {
		color:#000000 !important;
		background-color: #dddddd;
		display:none;
		list-style:none;
		margin:0 0 0 2px;
		padding:0 0 5px 0;
		position:absolute;
		z-index:5000;
		overflow:hidden;
		width:280px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		border-radius:3px;
		box-shadow: 0px 2px 7px rgba(0,0,0,0.25);
	}
	
	#navmain ul  li {
		position:relative;
		float:left;
		clear:both;
		width:100%;
	}
	
	#navmain ul a {
		white-space:nowrap;
		width:100%;
		display:block;
		padding:10px 0 10px 10px;
		-webkit-box-shadow: inset 0 -2px 2px -2px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: inset 0 -2px 2px -2px rgba(0, 0, 0, 0.25);
		box-shadow: 0 -2px 2px -2px rgba(0, 0, 0, 0.15) inset;
	}

	#navmain ul a:hover {
		color:#ff6600 !important;
		background-color:#AAAAAA !important;
		border-top:none;
		border-right:none;
		border-left:none;
	}
	
	#page-header {
		padding:10px 2%;
	}
	
	#breadcrumbs {
		float:none;
		margin-top:0;
	}
	
	#page-header h1 {
		float:none;
		clear:both;
		margin-top:5px;
	}
	
	article ul > li:before {
		margin-top:1px !important;
	}

	.separator {
		height:1px;
	}
	
	/* columns */
	.col2a,
	.col2b,
	.col3a,
	.col3b,
	.col3c,
	.col4a,
	.col4b,
	.col4c,
	.col4d {
		float:left;
		width:48%;
	}
	
	.col2a,
	.col3a,
	.col3c,
	.col4a,
	.col4c {
		margin:0 4% 5px 0;
	}
	
	.col2b,
	.col3b,
	.col4b,
	.col4d {
		margin:0 0 5px 0;
	}

	.col3c,
	.col4c {
		clear:both;
	}
	
	/* comments */
	.commentlist li div .vcard img .avatar {
		-moz-transform:scale(0.4);
		-webkit-transform:scale(0.4);
		transform:scale(0.4);
		-ms-transform: scale(0.4,0.4);
	}

	.commentlist li div .vcard img .avatar {
		padding:0;
		left:-10px;
		position:absolute;
		top:0;
	}

	.commentlist li {
		margin:0 1% 10px 0;
		padding:5px 3px 5px 10px;
		position:relative;
	}

	.commentlist li div .comment-meta {
		position:relative;
		text-align:right;
	}
	
	#commentform input[type="text"],
	#commentform input[type="email"],
	#commentform input[type="url"],
	#commentform textarea {
		width:300px;
		display:block;
	}
	
	#commentform textarea {
		height:150px;
	}
	
	#contact-form input[type="text"],
	#contact-form input[type="email"],
	#contact-form input[type="url"],
	#contact-form textarea {
		width:300px;
	}
	
	input[type="submit"],
	button,
	.btn,
	#main .button {
		padding:6px 8px;
	}

	/* columns */
	.col3a,
	.col3b,
	.col3c {
		float:left;
		width:48%;
	}

	.col3a,
	.col3c {
		margin:0 4% 5px 0;
	}

	.col3b {
		margin:0 0 5px 0;
	}

	.col3c {
		clear:both;
	}
}

/* Small Resolution */
@media screen and (max-width: 360px) {

	body {
		font-size:0.813em;
	}

	article ul > li:before {
		margin-top:1px !important;
	}

	.separator {
		height:1px;
	}
	
	/* footer columns */
	.col1a,
	.col2a,
	.col2b,
	.col3a,
	.col3b,
	.col3c,
	.col4a,
	.col4b,
	.col4c,
	.col4d {
		float:none;
		width:96%;
		margin:0 2% 5px 2%;
	}
	
	/* comments */
	.commentlist li div .vcard img .avatar {
		-moz-transform:scale(0.4);
		-webkit-transform:scale(0.4);
		transform:scale(0.4);
		-ms-transform:scale(0.4,0.4);
	}

	.commentlist li div .vcard img .avatar {
		padding:0;
		left:-10px;
		position:absolute;
		top:0;
	}

	.commentlist li {
		margin:0 1% 10px 0;
		padding:5px 3px 5px 10px;
		position:relative;
	}

	.commentlist li div.comment-meta {
		position:relative;
		text-align:right;
	}
	
	#commentform input[type="text"],
	#commentform input[type="email"],
	#commentform input[type="url"],
	#commentform textarea {
		width:270px;
		display:block;
	}
	
	#commentform textarea {
		height:130px;
	}

	.col3a,
	.col3b,
	.col3c {
		float:none;
		width:96%;
		margin:0 2% 5px 2%;
	}
}

/* Extra-Large Resolution */
@media screen and (min-width: 1200px) {

	#home-cols-inner {
        margin:0 auto;
        width:1150px;
    }

	#header-content-wrapper {
		margin:0 auto;
		width:1160px;
	}

	#navmain,
	#top-widget-inner,
	#home-cols-inner,
	#bottom-widget-inner,
	#main-content-wrapper,
	#footer-content-wrapper	{
		margin:0 auto;
		width:1150px;
	}

	
	#main-content,
	#main,
	#hdrtop-searchform-subcontent {
		margin-left:0;
	}
	
	#main-content-full {
		margin:0;
		width:auto;
	}
	
	#header-content-wrapper,
	#top-widget,
	#home-cols, 
	.bottom-widget,
	.top-widget{
		padding-left:0;
		padding-right:0;
	}
	
	#sidebar {
		float:right;
		margin-right:0;
	}
	
	#footer-main {
		padding-left:0;
		padding-right:0;
	}
}

/*
 * Slider
 */
.rm_wrapper{
	margin:0 auto;
	position:relative;
	margin-top: 10px;
	margin-bottom: 0;
}
.rm_container{
	width:80%;
	overflow:hidden;
	position:relative;
	height:530px;
	margin:0 auto;
}

@media screen and (min-width: 1200px) {
	.rm_container{
		width:1052px;
	}
}

.rm_container ul{
	width:1170px;
}
.rm_container ul li{
	float:left;
	margin-left:-80px;
	position:relative;
	overflow:hidden;
	width:300px;
	height:465px;
	border:30px solid #ffffff;
	border-width:50px 30px 0px 30px;
	background-color:#ffffff;
}
.rm_container ul li img{
	position:absolute;
	top:0px;
	left:0px;
}
.rm_mask_right, .rm_mask_left{
	position: absolute;
	height: 110px;
	background: #ffffff;
	width: 1530px;
	bottom: -30px;
	left: 0px;
	-moz-transform:rotate(-3deg);
	-webkit-transform:rotate(-3deg);
	transform:rotate(-3deg);
}
.rm_mask_right{
	left:auto;
	right:0px;
	-moz-transform:rotate(3deg);
	-webkit-transform:rotate(3deg);
	transform:rotate(3deg);
}
.rm_corner_right, .rm_corner_left{
	background: #ffffff;
	position:absolute;
	width:200px;
	height:100px;
	bottom:0px;
	left:-65px;
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
}
.rm_corner_right{
	left:auto;
	right:-65px;
	-moz-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.rm_nav a{
	position:absolute;
	top:200px;
	width:38px;
	height:87px;
	cursor:pointer;
	opacity:0.7;
}
.rm_nav a:hover{
	opacity:1.0;
}
.rm_nav a.rm_next{
	background:transparent url(./images/slider/next.png) no-repeat top left;
	right:1%;
}
.rm_nav a.rm_prev{
	background:transparent url(./images/slider/prev.png) no-repeat top left;
	left:1%;
}
.rm_controls{
	position:absolute;
	top:0px;
	left:1%;
	height:20px;
}
.rm_controls a{
	cursor:pointer;
	opacity:0.7;
	padding-left:24px;
	font-size:16px;
	text-transform:uppercase;
	height:20px;
	float:left;
	line-height:20px;
}
.rm_controls a:hover{
	opacity:1.0;
}
=======
/*!
Theme Name: MotoSpeed
Description: MotoSpeed is fully Responsive Moto WordPress Theme. Features: Animation Appearing Effects, Custom Logo, Custom Background, Footer copyright text customizations, Widget Areas: Sidebar, 3 Footer Columns, Footer Menu, Translation-Ready and much more.
Author: customizablethemes
Author URI: https://customizablethemes.com
Theme URI: https://customizablethemes.com/product/motospeed/
Version: 1.0.9
Text Domain: motospeed
Tags: blog, entertainment, two-columns, right-sidebar, custom-logo, custom-background, custom-header, custom-menu, threaded-comments, translation-ready, sticky-post, theme-options, footer-widgets
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/* general styles */
body {
	font-family:"Overlock",Arial,Helvetica,sans-serif;
	font-size:13px;
	margin:0;
	padding:0;
	background-color:#ffffff;
	color:#000000; 
	width:100%;
}

input, select, textarea, button, #main .button {
	font-family:inherit;
}

button {
	cursor:pointer;
}

body:before {
	content: none !important;
}

a {
	text-decoration:none;
	outline:none;
	color:#ff6600;
}

a:hover {
	color:#d0c5b6;
}

a img{
	outline:none;
}

p {
	padding:3px 0 3px 0;
	margin:0;
}

img {
	border:0;
	outline:0;
}

#main-content-wrapper img,
#footer-main img {
	max-width:100%;
	height:auto;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

#main-content-wrapper a:hover img,
#footer-main a:hover img {
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.7);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.7);
	opacity:0.7;
}

h1, h2, h3, h4, h5, h6{
	font-weight:400;
	margin:0;
	color:#ff6600; 
}
	
h1 {
	font-size:30px;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

h2 {
	font-size:22px;
	padding:5px 0 0 0;
}

h3 {
	font-size:20px;
	padding:8px 0 5px 0;
}

h4 {
	font-size:18px;
	padding:2px 0 1px 0;
}

h5 {
	font-size:16px;
	padding:2px 0 1px 0;
}

h6 {
	font-size:14px;
	padding:2px 0 1px 0;
}

table {
    border-collapse: collapse;
}

td, th {
	padding:10px;
}

#wp-calendar,
#wp-calendar th,
#wp-calendar td {
	border:none;
}

#wp-calendar td,
#wp-calendar th {
	padding:0;
}

embed,
object,
video {
	margin-bottom: 24px;
	max-width: 100%;
}

video {
    width: 100% !important;
    height: auto !important;
}

p > embed,
p > iframe,
p > object,
span > embed,
span > iframe,
span > object {
	margin-bottom: 0;
}

#sidebar select{
	max-width:95%;
}

dt.gallery-icon:before {
	content:'';
}

.custom-logo-link img {
	margin-right:10px;
	height:auto;
    max-width:150px;
}



#header-logo {
    display: flex;
    align-items: center;
}

#header-logo strong {
    font-size: 16px;
    font-weight: normal;
}

#sidebar select{
	max-width:95%;
}

dt.gallery-icon:before {
	content:'';
}

#header-logo h1 {
	padding:0;
	margin:0;
	line-height:1;
	font-size:38px;
}

#navmain li {
	padding:0;
}

ul > li {
	padding:3px 0;
	margin:0;
	list-style-type:none;
}

ol > li {
	padding:3px 0;
	margin:0;
}

ol {
	padding:0 0 0 30px;
	margin:0;
}

ul {
	padding:0 0 0 15px;
	margin:0;
}


.widget > ul,
.col > ul,
#sidebar > ul {
	padding-left:0;
}

/* header */
#header-main-fixed {
	min-height:40px;
	clear:both;
	margin:0;
	width:100%;
	z-index:5000;
	color:#000000;
	text-align:center;
}

#header-main-fixed a h1,
#header-main-fixed a {
	color:#111111; 
}

#header-main-fixed a:hover {
	color:#ff6600; 
}

#header-spacer {
	width:100%;
}

#header-content-wrapper {
	padding:0 2% 0 2%;
}

.search-form-icon:before {
	font-family:'FontAwesome';
	content:"\f002";
	margin:0 2px 0 0;
}

.search-form-icon {
	float:right;
}

#navmain {
	margin:0;
}


	float:left;
    height:26px;
    line-height:26px;
    text-align:center;
    width:26px;
	border-width:1px;
	border-style:solid;
	-webkit-border-radius:55px;
	-moz-border-radius:55px;
	-ms-border-radius:55px;
	-o-border-radius:55px;
	border-radius:55px;
	margin-right:10px;
}

#search-popup-content {
	display:none;
	position:fixed;
	top:18px;
	z-index:5000;
	background-color:#ffffff;
	padding:10px !important;
	border:1px solid #f5f5f5;
}

#hdrtop-searchform-subcontent {
	line-height:27px;
}

#hdrtop-searchform-subcontent button {
	padding-top:4px;
	padding-bottom:4px;
}

#hdrtop-cart-subcontent li {
	clear:both;
}

#navmain {
	margin:0 2%;
	text-align:center;
	background-color:#dddddd;
	position:relative;
	z-index:5000;
}

#navmain a:hover {
	text-decoration:none;
}

.page-title {
	padding:5px 0 10px 10px !important;
}

article,
aside {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

/* main content */
article,
.content {
	overflow:hidden;
	padding:10px 0 0 0;
}

#main-content-full {
	overflow:hidden;
	margin:0 0 20px 2%;
	width:96%;
}

/* sidebar */
#sidebar {
	overflow:hidden;
	padding:10px 0 0 0;
}

#sidebar ul:not(.social-widget):not(.ui-tabs-nav) > li:before,
article ul > li:before {
	content:"\f105";
	font-family:'FontAwesome';
	display:inline-block;
	margin:0 5px 10px 1px;
	opacity:0.7;
}

#sidebar > ul {
	margin-left:3px;
}

#sidebar .widget {
	margin-bottom:5px;
    clear: both;
}

.widget_categories,
.widget_archive {
    clear: both;
    position: relative;
}

.widget_categories ul,
.widget_archive ul {
	padding:0 10px;
}

.widget_categories h3,
.widget_archive h3 {
	display: block;
    text-decoration: none;
	font-size:1.125em;
	float:none;
	padding-left:10px;
}

.single-social-widget {	
	padding:1px 0 0 0;
	margin:1px 0 0 0;
	clear:both;
}

.single-social-widget p {
	margin-left:5px;
}

#infoTxt {
	padding:10px 0 10px 0;
}

article ul > li:before {
	font-family:'FontAwesome';
	content:"\f105";
	display:inline-block;
	text-align:center;
	margin:0 7px 7px 0;
}

.separator {
	height:1px;
	margin:20px 1% 10px 0;
}

#footer-menu {
    text-align:center;
    margin:15px 0;
}

#footer-menu ul,
#footer-menu li {
    display:inline;
    padding:0;
    margin:0;
}

#footer-menu li {
    margin-right:20px;
}

#footer-main {
	clear:both;
	background-color:#555555; 
	color:#fcfdf8; 
	margin:20px 0 0 0;
	padding:10px 2% 5px 2%;
	border-top:1px solid #b7b7b7;
}

#footer-main a {
	color:#c1b5b1; 
}

#footer-main a:hover {
	color:#ff6600; 
}


#footer-main input[type="text"] {
	width:130px;
	background-color:#fff;
}

.col ul:not(.social-widget):not(.ui-tabs-nav) > li:before {
	font-family:'FontAwesome';
	font-style:normal;
	font-weight:normal;
	line-height:1;
	margin-right:5px;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	content:"\f105";
	opacity:0.7;
}
.col > ul {
	margin-left:3px;
}

.col li {
	margin-bottom:5px;
}

.col1a {
	float:none;
	width:96%;
	margin:5px 0 5px 0;
}
#copyright {
	clear:both;
	text-align:center;
}

input[type="text"],
input[type="email"],
input[type="url"],
textarea {
	border:1px solid #B2AEA3;
	padding:4px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
}

.button,
input[type="submit"],
button {
	font-size:0.875em;
}

.button,
input[type="submit"],
button,
.btn,
#main .button {
	padding:8px 12px;
	text-decoration:none;
	font-weight:normal;
	border:none;
	color:#ffffff;
	background-image: -ms-linear-gradient(top, #d0c5b6 0%, #ff6600 100%);
	background-image: -moz-linear-gradient(top, #d0c5b6 0%, #ff6600 100%);
	background-image: -o-linear-gradient(top, #d0c5b6 0%, #ff6600 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d0c5b6), color-stop(1, #ff6600));
	background-image: -webkit-linear-gradient(top, #d0c5b6 0%, #ff6600 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#d0c5b6', endColorstr='#ff6600');
	background-image: linear-gradient(top, #d0c5b6 0%, #ff6600 100%);
	text-shadow:0 !important;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
}

.button:hover,
input[type="submit"]:hover,
button:hover,
#main .button:hover,
.btn:hover {
	color:#ffffff;
	background-image: -ms-linear-gradient(top, #ff6600 0%, #d0c5b6 100%);
	background-image: -moz-linear-gradient(top, #ff6600 0%, #d0c5b6 100%);
	background-image: -o-linear-gradient(top, #ff6600 0%, #d0c5b6 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff6600), color-stop(1, #d0c5b6));
	background-image: -webkit-linear-gradient(top, #ff6600 0%, #d0c5b6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ff6600', endColorstr='#d0c5b6');
	background-image: linear-gradient(top, #ff6600 0%, #d0c5b6 100%);
	text-decoration:none;
}

.btn {
	margin-top:10px;
	display:inline-block;
}

#respond {
	clear:both;
}

#commentform input:before,
#commentform textarea:before {
	content:'\A';
	white-space:pre;
}

blockquote:before,
q:before {
	font-family:'FontAwesome';
	content: "\f10d";
	color:#DEDEDE;
	font-size:36px;
	float:left;
	margin:0 1% 0 0;
}

blockquote, figure {
	margin:0 1%;
}

.page-links, .post-links {
	padding:10px 0 3px 0;
	margin:0;
}

.navigation,
.woocommerce-pagination {
    margin:0;
	clear:both;
}

.navigation .current,
.navigation .page-dots,
.navigation .page-numbers {
	font-size:16px;
	text-align:center;
	display:inline-block;
	float:left;
}

.navigation .page-dots,
.navigation .page-numbers {
	padding:5px 11px;
	border:1px solid #dddddd;
	margin-right:10px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
}

.navigation .current,
.navigation .current:hover {
	text-decoration:none;
	background:#dddddd !important;
	text-align:center;
	margin-right:10px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
}

.navigation .page-numbers:hover {
	text-decoration:none;
	background:#fafafa;
	text-align:center;
}

.nav-links {
	padding-top:10px;
}

.nav-links .nav-previous {
	float:left;
	width:45%;
}

.nav-links .nav-previous:before {
	font-family:'FontAwesome';
	content:"\f100";
	margin-right:5px;
}

.nav-links .nav-next {
	float:right;
	width:45%;
}

.nav-links .nav-next:after {
	font-family:'FontAwesome';
	content:"\f101";
	margin-left:5px;
}

#header-main-fixed:first-of-type {
    position: relative;
    display: inline-block;
}

pre {
	background: #eee;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
}

/* search form */
.search-wrapper {
	border:1px solid #B2AEA3;
	background-color:#ffffff;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	padding-left:0 !important;
	display:inline-block;
}

.search-wrapper .search-textbox {
	border:none;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
}

.search-wrapper  .search-button {
	color:#777777;
	background-color:#ffffff;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	box-shadow: none;
	filter:none;
	background-image: none;
}

.search-wrapper  .search-button:before {
	font-family:'FontAwesome';
	content:"\f002";
}

/* comments */
#comments {
	margin-top:25px;
	font-size:18px;
	float:left;
	clear:both;
	padding:0 5px 1px 1px;
}

.commentlist {
	list-style:none;
	margin:0;
	padding:0;
	clear:both;
}

.commentlist li {
	list-style:none;
}

.commentlist li .pingback .comment-author {
	padding:0 170px 0 0;
}

.commentlist li div .vcard {
	font-weight:bold;
	font-size:14px;
	line-height:16px;
}

.commentlist li div .vcard cite .fn {
	font-style:normal;
	font-size: 11px;
}

.commentlist li div .vcard cite .fn a .url {
	color:#cc0000;
	text-decoration:none;
}

.commentlist li div .vcard cite .fn a .url:hover {
	color:#000;
}

.commentlist li div .vcard img .avatar {
	background:#fff;
	border:1px solid #aaa;
}

.commentlist li div .comment-meta a {
	color:#205B87;
	text-decoration:none;
}

.commentlist li p {
	font-weight:normal;
	line-height:1.2;
	margin:5px 0 12px;
}

.commentlist li ul {
	font-weight:normal;
	font-size:12px;
	line-height:16px;
	list-style:square;
	margin:0 0 12px;
	padding:0;
}

.commentlist li div .reply {
	background:#999;
	border:1px solid #666;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	color:#fff;
	font:bold 9px/1 helvetica,arial,sans-serif;
	padding:6px 5px 4px;
	text-align:center;
	width:36px;
}

.commentlist li div .reply:hover {
	background:#cc0000;
	border:1px solid #cc0000;
}

.commentlist li div .reply a {
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
}

.commentlist li ul.children {
	list-style:none;
	margin:12px 0 0;
	text-indent:0;
}

.commentlist li ul .children li .depth-2 {
	margin:0 0 3px;
}

.commentlist li ul .children li .depth-3 {
	margin:0 0 3px;
}

.commentlist li ul .children li .depth-4 {
	margin:0 0 3px;
}

.commentlist li ul .children li .depth-5 {
	margin:0 0 7px;
}

.commentlist ul .children li .odd {
	background:#fff;
}

.commentlist .odd {
	background:#f6f6f6;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}

.commentlist li .pingback div .vcard {
	padding:0 170px 0 0;
}

.comment-body {
	padding-left:0;
}

#reply-title {
	margin-top:25px;
	text-align:center;
	font-size:18px;
	float:left;
	clear:both;
	padding:0 5px 0 1px;
}

#commentform {
	clear:both;
	padding-top:5px;
	padding-left:2px;
}

.entry-title {
	clear:both;	
}

.before-content,
.after-content,
.custom-after-content,
.page-after-content {
	padding-top:5px;
	padding-bottom:5px;
	clear:both;
}

.after-content,
.custom-after-content,
.page-after-content {
	border-top:2px solid #555555;
	margin-top:5px;
}

.aside-icon:before,
.audio-icon:before,
.author-icon:before,
.category-icon:before,
.clock-icon:before,
.comments-icon:before,
.edit-icon:before,
.gallery-icon:before,
.image-icon:before,
.link-icon:before,
.quote-icon:before,
.tags-icon:before,
.video-icon:before,
.quote-content:before,
.quote-content:after {
	font-family:'FontAwesome';
	margin:0;
	border: 1px solid;
    border-radius: 50%;
    display: inline-block;
    font-size: 11px;
    height: 20px;
    line-height: 21px;
    text-align: center;
    width: 20px;
}

.sticky h1:before {
	font-family:'FontAwesome';
	margin:0;
}

.sticky h1 {
	margin-right:7px;
}

.aside-icon:before {
	content: "\f0f6";
}

.audio-icon:before {
	content: "\f001";
}

.author-icon:before {
	content:"\f007";
}

.category-icon:before {
	content:"\f115";
}

.clock-icon:before {
	content:"\f017";
}

.comments-icon:before {
	content: "\f0e5";
}

.edit-icon:before {
	content:"\f040";
	margin-right:2px;
}

.gallery-icon:before {
	content:"\f03e";
}

.image-icon:before {
	content: "\f03e";
}

.link-icon:before {
	content: "\f0c1";
}

.quote-icon:before {
	content: "\f10d";
}

.tags-icon:before {
	content: "\f02c";
}

.video-icon:before {
	content: "\f008";
}

/* thumbnails */
img.wp-post-image {
	margin:0 5px 5px 0;
}

/* calendar widget */
.widget_calendar {
	float:left;
}

#wp-calendar caption {
	color:#333;
	font-size:12px;
	padding:5px;
}

#wp-calendar thead,
#wp-calendar tfoot {
	font-size:10px;
}

#wp-calendar th {
	border-bottom:3px solid #ccc;
}

#wp-calendar tbody {
	color:#aaaaaa;
}

#wp-calendar tbody td {
	text-align:center;
}

#wp-calendar tbody #today {
	background: #c5c5c5;
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	-ms-border-radius:50px;
	-o-border-radius:50px;
	border-radius:50px;
}

#wp-calendar tbody .pad {
	background:none;
}

#wp-calendar tfoot #next {
	font-size:10px;
	text-transform:uppercase;
	text-align:right;
}

#wp-calendar tfoot #prev {
	font-size:10px;
	text-transform:uppercase;
	padding-top:10px;
}

#wp-calendar tbody td {
	padding:8px;
}

.quote-content:before {
	content: "\f10d";
}

.quote-content:after {
	content: "\f10e";
}

.scrollup:before {
	content:"\f106";
	display:inline-block;
	vertical-align:middle;
	font:30px 'FontAwesome';
	color: rgba(255,255,255,.6) !important;
}

.scrollup {
	width: 40px;
	height: 40px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	-webkit-border-top-left-radius:2px;
	-moz-border-top-left-radius:2px;
	-ms-border-top-left-radius:2px;
	-o-border-top-left-radius:2px;
	border-top-left-radius:2px;
	-webkit-border-top-right-radius:2px;
	-moz-border-top-right-radius:2px;
	-ms-border-top-right-radius:2px;
	-o-border-top-right-radius:2px;
	border-top-right-radius:2px;
	position: fixed;
	bottom: 0;
	right:2%;
	display:none;
	color:#CBC8B5;
	background-color:#555555 !important;
	z-index:5001;
	line-height:34px;
	text-align:center;
	text-shadow: 0 0 1px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.3);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,.25);
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,.25);
	box-shadow: 0 1px 2px rgba(0,0,0,.25);
}

.scrollup:hover {
	background-color:#4A4C4D !important;
	color:#858282 !important;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

.tagcloud {
    margin-bottom: 20px;
}

.wp-caption {
	max-width:95%;
    padding:4px 4px 4px 4px;
    border:1px solid #ccc;
    color:#555;
    background:#f9f9f9;
    -moz-box-shadow:1px 1px 5px rgba(153, 153, 153, 0.3);
    -webkit-box-shadow:1px 1px 5px rgba(153, 153, 153, 0.3);
    box-shadow:1px 1px 5px rgba(153, 153, 153, 0.3);
    -moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
    clear:both;
}

.wp-caption p.wp-caption-text { 
	background-color:#858581;
	color:#fff;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	padding:2px 4px 2px 4px;
}

.sticky {
}

.sticky h1:before {
	content:"\f0c6";
}

.gallery-caption {
}

.bypostauthor {
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}


.post-date {
	display:block;
	margin:-5px 0 10px 13px;
}

blockquote {
	margin-bottom:10px;
}

.sidebar-title {
	padding:0 5px 1px 1px;
	margin-bottom:-2px;
	font-weight:normal;
	font-size:18px;
	letter-spacing:0.5px;
	float:left;
	clear:both;
}

.sidebar-title:not(:first-child) {
	margin-top:15px;
	margin-bottom:-2px;
}

.sidebar-before-title {
	clear:both;
}

.sidebar-after-title {
	clear:both;
	height:1px;
	margin-bottom:5px;
	width:100%;
}

.footer-title {
	font-size:22px;
	color:#eeeeee;
	letter-spacing:1px;
}

.footer-after-title {
	clear:both;
}

.page-entry-title {
	padding-left:0 !important;
}

/* custom page templates classes */
.custom-entry-title {
	padding-left:0 !important;
}

#searchform input[type="text"] {
	padding: 1px 0 1px 3px;
	background-color: #FFFFFF;
    border: 1px solid #B2AEA3;
    -webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px;
	padding:8px 5px;
}

#searchform input[type="submit"] {
    -webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px;
}

.gallery-item .gallery-icon > a:before,
dt.gallery-icon > a:before,
dt.gallery-icon > a:before,
.gallery-item .gallery-icon:before {
	content:'' !important;
}

.gallery {
	margin: 0 -1.1666667% 1.75em;
	clear:both;
}

.gallery-item {
	display: inline-block;
	max-width: 33.33%;
	padding: 0 1.1400652% 2.2801304%;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-1 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 25%;
}

.gallery-columns-4 .gallery-item {
	max-width: 20%;
}

.gallery-columns-5 .gallery-item {
	max-width: 15%;
}

.gallery-columns-6 .gallery-item {
	max-width: 13%;
}

.gallery-columns-7 .gallery-item {
	max-width: 11%;
}

.gallery-columns-8 .gallery-item {
	max-width: 10%;
}

.gallery-columns-9 .gallery-item {
	max-width: 9%;
}

.gallery-icon img {
	margin: 0 auto;
}

.gallery-caption {
	color: #686868;
	display: block;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

.gallery-item .gallery-icon > a:before,
dt.gallery-icon > a:before,
dt.gallery-icon > a:before,
.gallery-item .gallery-icon:before {
	content:'';
	border:none;
	height:0;
}

#home-cols {
	clear:both;
	padding:20px 2%;
}

.post-links .left,
.post-links .right {
    width: 40%;
}

.fb_iframe_widget span {
	display: block !important;
}

#pin-save-button span {
	margin-top: -19px !important;
	position: absolute;
}

/* Large Resolution */
@media screen and (min-width: 800px) {
	
	#main-content,
	#main {
		float:left;
		margin:0 0 20px 2%;
		width:75%;
	}
	
	#header-main-fixed {
		padding-bottom:20px;
	}

	#sidebar {
		float:left;
		margin:10px 2% 30px 2%;
		width:20%;
		padding:0;
	}
	
	.header-social-widget li {
		margin-left:3px;
	}
	
	#header-logo {
		display:inline-block;
		margin-top:15px;
	}

	#navmain div {
		padding:0 0 0 20px;
	}
	
	#navmain ul {
		padding:0;
		margin:0;
	}
	
	#navmain > div > ul > li {
		display:inline-block;
	}
	
	#navmain ul ul  li {
		position:relative;
		float:left;
	}
	
	#navmain > div > ul > li {
		padding: 0 10px;
	}
	
	#navmain ul a {
		padding:20px 15px;
		font-size:16px;
		white-space:nowrap;
		display:inline-block;
	}

	#navmain ul ul li:hover > a {
		background-color:#AAAAAA;
		color:#ff6600;
	}
	
	#navmain ul ul ul,
	#navmain ul ul  ul li:first-of-type,
	#navmain ul ul ul li:first-of-type > a {
		-webkit-border-top-left-radius:3px;
		-moz-border-top-left-radius:3px;
		border-top-left-radius:3px;
		-webkit-border-top-right-radius:3px;
		-moz-border-top-right-radius:3px;
		border-top-right-radius:3px;
	}
	
	#navmain ul ul,
	#navmain ul ul li:last-of-type,
	#navmain ul ul li:last-of-type > a {
		-webkit-border-bottom-left-radius:3px;
		-moz-border-bottom-left-radius:3px;
		border-bottom-left-radius:3px;
		-webkit-border-bottom-right-radius:3px;
		-moz-border-bottom-right-radius:3px;
		border-bottom-right-radius:3px;
	}

	#navmain ul ul {
		list-style:none;
		margin:0;
		padding:0;
		position:absolute;
		z-index:5000;
		color:#ff6600 !important;
		background-color:#CCCCCC;
		text-align: left;
		opacity:0;
		display:none;
	}
	
	#navmain ul li:hover > ul {
	   display:block;
	   opacity:1;
	   animation: opacity 700ms ease-in-out normal;
	   -moz-animation: opacity 700ms ease-in-out normal;
	   -ms-animation: opacity 700ms ease-in-out normal;
	   -o-animation: opacity 700ms ease-in-out normal;
	   -webkit-animation: opacity 700ms ease-in-out normal;    
	}

	@keyframes opacity { 
	    from { opacity:0; } 
	    to { opacity: 1; } 
	}
	@-moz-keyframes opacity { 
	    from { opacity: 0; } 
	    to { opacity: 1; } 
	}
	@-ms-keyframes opacity { 
	    from {opacity:0; } 
	    to { opacity: 1; } 
	}
	@-o-keyframes opacity { 
	    from {opacity:0; } 
	    to { opacity: 1; } 
	}
	@-webkit-keyframes opacity { 
	    from { opacity:0; } 
	    to { opacity: 1; } 
	}
	
	#navmain > div > ul > li > ul {
		margin:0 0 0 -14px;
	}

	#navmain ul ul:not(.cart_list) {
        opacity:0;
    }

	#navmain ul li:hover > ul {
       display:block;
       opacity:1;
       animation: opacity 700ms ease-in-out normal;
       -moz-animation: opacity 700ms ease-in-out normal;
       -ms-animation: opacity 700ms ease-in-out normal;
       -o-animation: opacity 700ms ease-in-out normal;
       -webkit-animation: opacity 700ms ease-in-out normal;    
    }

    @keyframes opacity {
        from { opacity:0; }
        to { opacity: 1; }
    }
    @-moz-keyframes opacity {
        from { opacity: 0; }
        to { opacity: 1; }
    }
    @-ms-keyframes opacity {
        from {opacity:0; }
        to { opacity: 1; }
    }
    @-o-keyframes opacity {
        from {opacity:0; }
        to { opacity: 1; }
    }
    @-webkit-keyframes opacity {
        from { opacity:0; }
        to { opacity: 1; }
    }

	#navmain ul li ul a {
		display:block;
	}
	
	#navmain ul ul ul {
		top:-1px;
		left:100%;
	}
	
	#navmain ul ul li {
		float:none;
	}
	
	#navmain ul ul a {
		padding:9px 35px 9px 10px;
		-webkit-box-shadow: inset 0 -2px 2px -2px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: inset 0 -2px 2px -2px rgba(0, 0, 0, 0.25);
		box-shadow: 0 -2px 2px -2px rgba(0, 0, 0, 0.15) inset;
	}

	#navmain > div > ul > li > a {
		color:#555555;
	}

	#navmain > div > ul > .current-menu-item > a, #navmain > div > ul > .current-menu-ancestor > a,
	#navmain > div > ul > li > a:hover {
		color:#ff6600; 
	}

	.level-one-sub-menu > a:after {
		content: "\f107";
		font-family:'FontAwesome';
		margin:0 0 0 5px;
	}
	
	.level-two-sub-menu > a:before {
		content: "\f105";
		font-family:'FontAwesome';
		position:absolute;
		right:10px;
		top:9px;
	}

	body.blog article,
	body.archive article {
		width:48.5%;
		float:left;
	}

	body.forum-archive article {
		width:90%;
		float:none;
	}
	
	body.blog article:nth-child(odd),
	body.archive article:nth-child(odd) {
	  clear: both;
	  margin-right:2%;
	}
	
	/* columns */
	.col2a,
	.col2b {
		float:left;
		width:47%;
	}
	
	.col2a {
		margin:0 4% 5px 0;
	}
	
	.col2b {
		margin:0 0 5px 0;
	}
	
	.col3a,
	.col3b,
	.col3c {
		float:left;
		width:30.6%;
	}
	
	.col3a,
	.col3b {
		margin:0 3.5% 5px 0;
	}
	
	.col3c {
		margin:0 0 5px 0;
	}
	
	.col4a,
	.col4b,
	.col4c,
	.col4d {
		width:22%;
		float:left;
	}
	
	.col4a,
	.col4b,
	.col4c {
		margin:0 3.5% 5px 0;
	}

	.col4d {
		margin:0 0 5px 0;
	}

	/* comments */
	.commentlist li div .vcard img .avatar {
		padding:5px;
		left:7px;
		position:absolute;
		top:7px;
	}
	
	.commentlist li {
		margin:0 0 10px;
		padding:5px 10px;
		position:relative;
	}
	
	.commentlist li div.comment-meta {
		font-weight:bold;
		font-size:10px;
		line-height:16px;
		position:absolute;
		right:10px;
		text-align:right;
		top:5px;
	}
	
	#commentform input[type="text"],
	#commentform input[type="email"] {
		width:145px;
		padding-top:7px;
		padding-bottom:7px;
	}
	
	#commentform input[type="url"] {
		width:100%;
		padding-top:7px;
		padding-bottom:7px;
	}
	
	#commentform textarea {
		width:470px;
		display:block;
		padding-top:7px;
		padding-bottom:7px;
		height:150px;
	}

	.comment-form-author,
	.comment-form-email,
	.comment-form-url  {
		width:150px;
		float:left;
	}

	.comment-form-cookies-consent {
		clear:both;
	}

	.form-submit {
		clear:both;
	}
	
	.comment-form-author,
	.comment-form-email	{
		margin-right:10px;
	}
	
	.comment-form-comment {
		clear:both;
		width:100%;
	}
	
	#comment {
		width:100%;
	}

	/* columns */
	.col3a,
	.col3b,
	.col3c {
		float:left;
		width:30.6%;
	}
	
	.col3a,
	.col3b {
		margin:0 3.5% 5px 0;
	}
	
	.col3c {
		margin:0 0 5px 0;
	}
}

/* Medium Resolution */
@media screen and (max-width: 799px) {

	h1 {
		font-size:24px;
	}
	
	.header-social-widget a {
		padding-bottom:4px;
	}

	#hdrtop-searchform-subcontent {
		font-size:18px;
		letter-spacing:inherit;
	}

	#header-main-fixed {
		padding-bottom:0;
		top:0;
	}

	#main-content,
	#main {
		float:none;
		clear:both;
		margin:0 2% 10px 2%;
		width:95%;
	}

	#sidebar {
		float:none;
		clear:both;
		margin:0 2% 10px 2%;
		width:95%;
	}
	
	#header-top {
		text-align:center;
	}
	
	#header-logo {
		margin-left:5px;
	}
	
	.header-social-widget a:before {
		margin-bottom:5px;
	}
	
	#header-title {
		float:left;
		margin:0 0 0 10%;
	}

	#header-title div {
		float:left;
	}
	
	#header-title a {
		font-size:24px;
		text-shadow:2px 1px 1px #999;
	}

	#header-title img {
		float:left;
		margin:0;
	}

	#header-title strong {
		color:#444;
		font-weight:normal;
		display:block;
	}
	
	#navmain {
		cursor:pointer;
		margin-top:0;
	}
	
	#navmain div:first-of-type:before {
		font:36px 'FontAwesome';
		content:"\f0c9";
		margin:0 0 0 5%;
		color:#ff6600;
		text-shadow:1px 1px 2px rgba(0,0,0,0.25);
	}

	#navmain div {
		clear:both;
		text-align:left;
	}

#navmain ul {
		padding:0;
	}
				
	#navmain div > ul {
		color:#000000 !important;
		background-color: #dddddd;
		display:none;
		list-style:none;
		margin:0 0 0 2px;
		padding:0 0 5px 0;
		position:absolute;
		z-index:5000;
		overflow:hidden;
		width:280px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		border-radius:3px;
		box-shadow: 0px 2px 7px rgba(0,0,0,0.25);
	}
	
	#navmain ul  li {
		position:relative;
		float:left;
		clear:both;
		width:100%;
	}
	
	#navmain ul a {
		white-space:nowrap;
		width:100%;
		display:block;
		padding:10px 0 10px 10px;
		-webkit-box-shadow: inset 0 -2px 2px -2px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: inset 0 -2px 2px -2px rgba(0, 0, 0, 0.25);
		box-shadow: 0 -2px 2px -2px rgba(0, 0, 0, 0.15) inset;
	}

	#navmain ul a:hover {
		color:#ff6600 !important;
		background-color:#AAAAAA !important;
		border-top:none;
		border-right:none;
		border-left:none;
	}
	
	#page-header {
		padding:10px 2%;
	}
	
	#breadcrumbs {
		float:none;
		margin-top:0;
	}
	
	#page-header h1 {
		float:none;
		clear:both;
		margin-top:5px;
	}
	
	article ul > li:before {
		margin-top:1px !important;
	}

	.separator {
		height:1px;
	}
	
	/* columns */
	.col2a,
	.col2b,
	.col3a,
	.col3b,
	.col3c,
	.col4a,
	.col4b,
	.col4c,
	.col4d {
		float:left;
		width:48%;
	}
	
	.col2a,
	.col3a,
	.col3c,
	.col4a,
	.col4c {
		margin:0 4% 5px 0;
	}
	
	.col2b,
	.col3b,
	.col4b,
	.col4d {
		margin:0 0 5px 0;
	}

	.col3c,
	.col4c {
		clear:both;
	}
	
	/* comments */
	.commentlist li div .vcard img .avatar {
		-moz-transform:scale(0.4);
		-webkit-transform:scale(0.4);
		transform:scale(0.4);
		-ms-transform: scale(0.4,0.4);
	}

	.commentlist li div .vcard img .avatar {
		padding:0;
		left:-10px;
		position:absolute;
		top:0;
	}

	.commentlist li {
		margin:0 1% 10px 0;
		padding:5px 3px 5px 10px;
		position:relative;
	}

	.commentlist li div .comment-meta {
		position:relative;
		text-align:right;
	}
	
	#commentform input[type="text"],
	#commentform input[type="email"],
	#commentform input[type="url"],
	#commentform textarea {
		width:300px;
		display:block;
	}
	
	#commentform textarea {
		height:150px;
	}
	
	#contact-form input[type="text"],
	#contact-form input[type="email"],
	#contact-form input[type="url"],
	#contact-form textarea {
		width:300px;
	}
	
	input[type="submit"],
	button,
	.btn,
	#main .button {
		padding:6px 8px;
	}

	/* columns */
	.col3a,
	.col3b,
	.col3c {
		float:left;
		width:48%;
	}

	.col3a,
	.col3c {
		margin:0 4% 5px 0;
	}

	.col3b {
		margin:0 0 5px 0;
	}

	.col3c {
		clear:both;
	}
}

/* Small Resolution */
@media screen and (max-width: 360px) {

	body {
		font-size:0.813em;
	}

	article ul > li:before {
		margin-top:1px !important;
	}

	.separator {
		height:1px;
	}
	
	/* footer columns */
	.col1a,
	.col2a,
	.col2b,
	.col3a,
	.col3b,
	.col3c,
	.col4a,
	.col4b,
	.col4c,
	.col4d {
		float:none;
		width:96%;
		margin:0 2% 5px 2%;
	}
	
	/* comments */
	.commentlist li div .vcard img .avatar {
		-moz-transform:scale(0.4);
		-webkit-transform:scale(0.4);
		transform:scale(0.4);
		-ms-transform:scale(0.4,0.4);
	}

	.commentlist li div .vcard img .avatar {
		padding:0;
		left:-10px;
		position:absolute;
		top:0;
	}

	.commentlist li {
		margin:0 1% 10px 0;
		padding:5px 3px 5px 10px;
		position:relative;
	}

	.commentlist li div.comment-meta {
		position:relative;
		text-align:right;
	}
	
	#commentform input[type="text"],
	#commentform input[type="email"],
	#commentform input[type="url"],
	#commentform textarea {
		width:270px;
		display:block;
	}
	
	#commentform textarea {
		height:130px;
	}

	.col3a,
	.col3b,
	.col3c {
		float:none;
		width:96%;
		margin:0 2% 5px 2%;
	}
}

/* Extra-Large Resolution */
@media screen and (min-width: 1200px) {

	#home-cols-inner {
        margin:0 auto;
        width:1150px;
    }

	#header-content-wrapper {
		margin:0 auto;
		width:1160px;
	}

	#navmain,
	#top-widget-inner,
	#home-cols-inner,
	#bottom-widget-inner,
	#main-content-wrapper,
	#footer-content-wrapper	{
		margin:0 auto;
		width:1150px;
	}

	
	#main-content,
	#main,
	#hdrtop-searchform-subcontent {
		margin-left:0;
	}
	
	#main-content-full {
		margin:0;
		width:auto;
	}
	
	#header-content-wrapper,
	#top-widget,
	#home-cols, 
	.bottom-widget,
	.top-widget{
		padding-left:0;
		padding-right:0;
	}
	
	#sidebar {
		float:right;
		margin-right:0;
	}
	
	#footer-main {
		padding-left:0;
		padding-right:0;
	}
}

/*
 * Slider
 */
.rm_wrapper{
	margin:0 auto;
	position:relative;
	margin-top: 10px;
	margin-bottom: 0;
}
.rm_container{
	width:80%;
	overflow:hidden;
	position:relative;
	height:530px;
	margin:0 auto;
}

@media screen and (min-width: 1200px) {
	.rm_container{
		width:1052px;
	}
}

.rm_container ul{
	width:1170px;
}
.rm_container ul li{
	float:left;
	margin-left:-80px;
	position:relative;
	overflow:hidden;
	width:300px;
	height:465px;
	border:30px solid #ffffff;
	border-width:50px 30px 0px 30px;
	background-color:#ffffff;
}
.rm_container ul li img{
	position:absolute;
	top:0px;
	left:0px;
}
.rm_mask_right, .rm_mask_left{
	position: absolute;
	height: 110px;
	background: #ffffff;
	width: 1530px;
	bottom: -30px;
	left: 0px;
	-moz-transform:rotate(-3deg);
	-webkit-transform:rotate(-3deg);
	transform:rotate(-3deg);
}
.rm_mask_right{
	left:auto;
	right:0px;
	-moz-transform:rotate(3deg);
	-webkit-transform:rotate(3deg);
	transform:rotate(3deg);
}
.rm_corner_right, .rm_corner_left{
	background: #ffffff;
	position:absolute;
	width:200px;
	height:100px;
	bottom:0px;
	left:-65px;
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
}
.rm_corner_right{
	left:auto;
	right:-65px;
	-moz-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.rm_nav a{
	position:absolute;
	top:200px;
	width:38px;
	height:87px;
	cursor:pointer;
	opacity:0.7;
}
.rm_nav a:hover{
	opacity:1.0;
}
.rm_nav a.rm_next{
	background:transparent url(./images/slider/next.png) no-repeat top left;
	right:1%;
}
.rm_nav a.rm_prev{
	background:transparent url(./images/slider/prev.png) no-repeat top left;
	left:1%;
}
.rm_controls{
	position:absolute;
	top:0px;
	left:1%;
	height:20px;
}
.rm_controls a{
	cursor:pointer;
	opacity:0.7;
	padding-left:24px;
	font-size:16px;
	text-transform:uppercase;
	height:20px;
	float:left;
	line-height:20px;
}
.rm_controls a:hover{
	opacity:1.0;
}
>>>>>>> b9cb38dd5380a6a37d92ca254d63d8e74592569c
